<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWBv9GH79uZk8VMMwU_e1YRVyKYfo_1WI</string>
	<key>GCM_SENDER_ID</key>
	<string>257158880441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrmProject</string>
	<key>PROJECT_ID</key>
	<string>hrm-thesports</string>
	<key>STORAGE_BUCKET</key>
	<string>hrm-thesports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257158880441:ios:cbfe3739b407f7a2ae0f68</string>
</dict>
</plist>